  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h3> Edit Permission</h3> <br/>
        <%= form_tag({controller: "permission", action: "update"}, method: "put") do %>
            <div class="checkbox">
                    <strong>test@gmail.com</strong>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Read
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> Create
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> Update
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> Delete
                    </label>
                    <hr/>
            </div>
                    <div class="checkbox">
                    <strong>test@gmail.com</strong>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Read
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> Create
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> Update
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> Delete
                    </label>
                    <hr/>
            </div>
                    <div class="checkbox">
                    <strong>test@gmail.com</strong>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Read
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> Create
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> Update
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> Delete
                    </label>
                    <hr/>
            </div>
                    <div class="checkbox">
                    <strong>test@gmail.com</strong>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Read
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> Create
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> Update
                    </label>
                    <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> Delete
                    </label>
                    <hr/>
            </div>
        <% end %>
    </div>
    <div class="col-md-2">
    </div>
  </div>