<%# add navigation links to this file %>
<ul class="nav navbar-nav navbar-right">
    <li><a href="#">Settings</a></li>
    <li> <%= link_to "#{current_user.email}",edit_user_registration_path, method: :get   %> </li>
    <li><a href="#">Help</a></li>
    <% if user_signed_in? %>
        <li> <%= link_to "Sign out",destroy_user_session_path, method: :delete   %></li>
    <% end %>
</ul>